body {
    margin: 0;
    padding: 0 1rem;
}

img {
    max-height: 200px;
}

section {
    margin: 1rem auto;
    padding: 1rem 0;
    border-bottom: 1px solid #aaa;
}

header {
    text-align: center;
    border-bottom: 1px solid #aaa;
}

footer {
    text-align: center;
    margin: 1rem auto;
}
footer a {
    margin: 0 2rem;
}

.box {
    margin: 2rem auto;
    padding: 2rem;
    background-color: rgb(217, 241, 255);
    border: 1px solid #333;
    min-height: 20px;
    border-radius: 10px;
}

